<div class="row">
    <div class="col-md-5">
        <input class="form-control" placeholder="Start Searching here...">
    </div>
    <div class="col-md-7">
        <nav class="nav-area">
            <ul class="pagination">
                <li *ngFor="let page_no of get_pages_array();" class="page-item" [class.active]="table_conf.current_page === page_no">
                    <a class="page-link" href="#" (click)="show_page(page_no)">{{page_no}}</a>
                </li>
            </ul>
        </nav>
    </div>    
</div>
<table style="width: 100%;">
    <tr class="table-header">
        <th *ngFor="let column of columns;">            
            {{column}}
        </th>
    </tr>
    <tr *ngFor="let row of table_conf.display_list; index as row_idx;">
        <td *ngFor="let column of columns;">
            {{ row[column] }}
        </td>
    </tr>
</table>
<div class="row">
    <div class="col-md-5">
        <!-- <input class="form-control" placeholder="Start Searching here..."> -->
    </div>
    <div class="col-md-7">
        <nav class="nav-area">
            <ul class="pagination">
                <li *ngFor="let page_no of get_pages_array();" class="page-item" [class.active]="table_conf.showing === page_no">
                    <a class="page-link" href="#" (click)="show_page(page_no)">{{page_no}}</a>
                </li>
            </ul>
        </nav>
    </div>    
</div>
